.App {
  text-align: center;
  /* background-color: #f7d1ba; */
  width: 100vw;
  font-family: "Poiret One";
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.selectorContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #9af5d9;
  /* background-image: url("./assets/palmtree1.svg"),
    linear-gradient(to top right, #9af5d9, #9af5d9, #9af5d9, white); */
  background-image: url("./assets/palmtree1.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  margin-top: 70px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
